<link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
<meta name="theme-color" content="#EDEDED">
{% if page.mathjax %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
	tex2jax: {
		inlineMath: [ ['$','$'], ["\\(","\\)"] ],
		displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
		processEscapes: true
	}
});
</script>
<script type="text/javascript" async
	src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}
<script type="text/javascript" async src="/assets/js/love.js"></script>
<script type="text/javascript" async src="/assets/js/auto-heading-links.js"></script>
<!-- Minimal Mistakes layout: {{ page.layout }} -->
