# Editors
*.swp
*.sw_
*~
.vscode

# Generated content
.git-metadata
.jekyll-cache
.jekyll-metadata
.sass-cache
.svn
_site

# Other resources on GH Pages
/etc
/image

# Bundler
Gemfile.lock
/vendor
.bundle/

# NPM
package-lock.json
node_modules/

# Whatever junk
*.log
