---
layout: default
title: Status
tagline: Site information
buttons:
  -
    url: /
    text: Return to Home
---

<dl>
  <dt>Build time</dt>
  <dd><time datetime="{{ site.time | date: "%Y-%m-%d %H:%M:%S" }}">{{ site.time | date: "%B %-d, %Y at %H:%M:%SZ" }}</time></dd>

	<dt>Current time</dt>
	<dd id="current-time"></dd>

  <dt>Source Git revision</dt>
  <dd><a href="{{ site.source_url }}/commit/{{ site.git.last_commit.long_sha }}"><code>{{ site.git.last_commit.short_sha }}</code> <strong>{{ site.git.last_commit.author_name | xml_escape }}</strong>: {{ site.git.last_commit.message | xml_escape }}</a></dd>

	<dt>
		Continuous Integration
		<a href="https://travis-ci.org/iBug/iBug-source"><img src="https://travis-ci.org/iBug/iBug-source.svg?branch=master" alt="Travis CI" /></a>
		<a href="https://circleci.com/gh/iBug/iBug-source"><img src="https://circleci.com/gh/iBug/iBug-source.svg?style=shield" alt="CircleCI" /></a>
	</dt>
  {% if site.env.TRAVIS_BUILD_ID %}
	<dd>This site is deployed from <a href="https://travis-ci.org/iBug/iBug-source/builds/{{ site.env.TRAVIS_BUILD_ID }}">Travis CI build {{ site.env.TRAVIS_BUILD_NUMBER }}{% if site.env.TRAVIS_EVENT_TYPE == "cron" %} &#9200;{% endif %}</a></dd>
  {% elsif site.env.CIRCLE_BUILD_NUM %}
	<dd>This site is deployed from <a href="https://circleci.com/gh/iBug/iBug-source/{{ site.env.CIRCLE_BUILD_NUM }}">CircleCI build {{ site.env.CIRCLE_BUILD_NUM }}{% if site.env.CRON %} &#9200;{% endif %}</a></dd>
  {% else %}
  <dd>This site is not deployed from Continuous Integration.</dd>
  {% endif %}
</dl>

<script type="text/javascript">
	function zeropad(n) {
		return n > 9 ? String(n) : "0" + String(n);
	}
	var showTimeContainer = document.getElementById("current-time");
	function showTime() {
		let t = new Date();
		showTimeContainer.innerText = "UTC " + String(t.getUTCFullYear()) + "-" + zeropad(t.getUTCMonth() + 1) + "-" + zeropad(t.getUTCDate()) + " " + zeropad(t.getUTCHours()) + ":" + zeropad(t.getUTCMinutes()) + ":" + zeropad(t.getUTCSeconds());
	}
	var showTimeInterval = setInterval(showTime, 100);
</script>
