<script type="text/javascript" src="/assets/js/love.js" ></script>

{% if page.mathjax %}
{% if site.mathjax.cdn == "github-pages" %}
	<script type="text/javascript" src="{{ site.url }}/cdn/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML" ></script>
{% else %}
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML" ></script>
{% endif %}
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({
		jax: ["input/TeX","output/HTML-CSS"],
		displayAlign: "left",
		displayIndent: "20px"
	});
</script>
{% endif %}
