<span class="site-footer-credits">
	Designed by iBug with &hearts;<br />
	Theme extensively modified from <a href="https://github.com/pages-themes/cayman">Cayman</a>
	<a href="{{ site.baseurl }}/status.html" style="float: right;">
		Revision <span style="font-family: 'Consolas', monospace, serif">{{ site.git.last_commit.short_sha }}</span>{% if site.env.TRAVIS_BUILD_NUMBER %}, Build T{{ site.env.TRAVIS_BUILD_NUMBER }}{% elsif site.env.CIRCLE_BUILD_NUM %}, Build C{{ site.env.CIRCLE_BUILD_NUM }}{% endif %}
	</a>
</span>
