<nav>
	<div class="nav-bg"></div>
	<div class="nav-content">
		<div class="nav-left">
			<div class="nav-item">
				<strong><a href="/">{{ site.title }}</a></strong>
			</div>
			<div class="nav-item verbose">
				<a href="https://stackoverflow.com/users/5958455">Stack Overflow</a>
			</div>
			<div class="nav-item verbose">
				<a href="https://github.com/iBug">GitHub</a>
			</div>
		</div>
		<div class="nav-right">
			<div class="nav-item">
				<a href="/blog">Articles</a>
			</div>
			<div class="nav-item">
				<a href="/project">Projects</a>
			</div>
		</div>
	</div>
</nav>
