<nav>
	<div class="nav-bg"></div>
	<div class="nav-content">
		<div class="nav-left">
			<a href="/" class="nav-item">
				<b>{{ site.title }}</b>
			</a>
			{% if page.layout == "post" %}
				{% if page.previous %}
					<a href="{{ page.previous.url }}" class="nav-item">
							&laquo; Previous
					</a>
				{% endif %}
				{% if page.next %}
					<a href="{{ page.next.url }}" class="nav-item">
						Next &raquo;
					</a>
				{% endif %}
			{% else %}
			<a href="https://stackoverflow.com/users/5958455" class="nav-item">Stack Overflow</a>
			<a href="https://github.com/iBug" class="nav-item">GitHub</a>
			{% endif %}
		</div>
		<div class="nav-right">
			<a href="/blog" class="nav-item">Articles</a>
			<a href="/project" class="nav-item">Projects</a>
		</div>
	</div>
</nav>
