@import "landing"; // Special layout for landing page

blockquote {
	font-style: normal;
	font-family: $serif;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0.2rem 0.2rem 0.4rem;
}

.page__content a:not(.btn):not(#goog-wm-sb):hover img.card {
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

html {
	box-sizing: border-box;
	font-size: 14px;
	@include breakpoint($medium) { font-size: 16px; }
	@include breakpoint($large) { font-size: 18px; }
	@include breakpoint($x-large) { font-size: 20px; }
}

#main {
	@include breakpoint($x-large) { max-width: 1440px; }
}

.page__content li p {
  margin-bottom: 0;
}

div.page__hero--overlay {
	text-align: center;
	margin-bottom: 1em;

	a.btn {
		backdrop-filter: blur(1.5px);
	}
}

a.site-logo > img, div.author__avatar:hover > img {
	animation: spin-periodically 5000ms infinite ease-in-out;
}

section.page__content {
	a {
		word-break: break-word;
	}

	h1 {
		margin-top: 0;
	}

	h2, h3, h4, h5, h6 {
		margin-top: 1.5em;
	}

	h4.nav__title {
		margin-top: 0;
	}
}

p img.block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/********** Animations **********/

@import "loading-animation";

@keyframes spin-periodically {
    80% { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
