@import "mixins";
@import "fonts";

@import "landing"; // Special layout for landing page
@import "home";
@import "masthead";
@import "page-content";
@import "archive";
@import "toc";

blockquote {
  font-style: normal;
  font-family: $serif;
}

details {
  padding-inline-start: 1em;

  > summary {
    margin-inline-start: -1em;
  }
}

kbd {
  min-width: 1.2em;
  display: inline-block;
  text-align: center;
  font-family: $sans-serif;
  font-size: 0.8em;
  padding: 0 0.2em;
  margin: 0 2px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

ul, ol {
  padding-inline-start: 1em;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0.2rem 0.2rem 0.4rem;
}

.wide-only {
  display: none;

  @include breakpoint($large) {
    display: initial;
  }
}

.nonwide-only {
  @include breakpoint($large) {
    display: none;
  }
}

// ================

html {
  box-sizing: border-box;
  font-size: 14px;
  @include breakpoint($medium) { font-size: 16px; }
  @include breakpoint($large) { font-size: 18px; }
  @include breakpoint($x-large) { font-size: 20px; }
}

// Header and footer width
div.masthead div.masthead__inner-wrap,
div.page__footer footer {
  max-width: 100%;
}

#main {
  padding-top: 1em;
  @include breakpoint($x-large) { max-width: 1440px; }
}

div.page__hero--overlay {
  text-align: center;
  padding-top: 7em;
  margin-bottom: 0;

  .page__title, .page__meta, .comment__date, .page__lead, .btn, #goog-wm-sb {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
  }

  + #main {
    padding-top: 2em;
  }

  h1.page__title {
    // @include noselect;
  }

  a.btn {
    backdrop-filter: blur(1.5px);
  }

  p.page__lead {
    margin-left: auto;
    margin-right: auto;
  }

  .page__meta {
    .page__meta-sep, .page__meta-readtime {
      display: none;
    }
  }

  .page__hero-caption {
    transition: opacity 0.3s linear;

    &:hover {
      opacity: 1;
    }
  }
}

.page__meta-sep {
  &::before {
    content: "\2022";
    margin: 0 0.5em;
  }
}

.nav__items li {
  ul li, ol li {
    line-height: 1.6;
  }
}

/*
div.feature__item {
.archive__item {
.archive__item-title, .archive__item-excerpt {
text-align: center;
}

.archive__item-excerpt + p {
text-align: center;
}
}
}
 */

.pagination {
  text-align: center;

  ul {
    display: inline-block;

    li a {
      @include pro-font;
      transition: background-color 0.3s ease-in-out, color 0.1s ease-in-out;

      &:not(disabled):hover {
        color: white;
        background-color: $primary-color;
      }
    }
  }
}

.page__footer footer {
  text-align: center;

  p, ul li, ol li {
    margin: 0;
  }

  .page__footer-follow .social-icons {
    .fa, .fas, .far, .fab {
      color: white;
    }
  }

  .version-text {
    @include pro-font;
    font-weight: 500;
  }

  .version-code {
    font-family: $monospace;
  }
}

/********** Misc **********/

.sidebar .social-icons, .sidebar .nav__list {
  .fas, .far, .fab, .fal {
    color: inherit;
  }
}

a.site-logo > img, div.author__avatar:hover > img {
  animation: spin-periodically 5000ms infinite ease-in-out;
}

/********** Animations **********/

@import "loading-animation";

@keyframes spin-periodically {
  80% { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
