@import "landing"; // Special layout for landing page
//@import "masthead"; // Colored masthead

blockquote {
	font-style: normal;
	font-family: $serif;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 0.2rem 0.2rem 0.4rem;
}

.page__content a:not(.btn):not(#goog-wm-sb):hover img.card {
	box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.3), 0 6px 30px 0 rgba(0, 0, 0, 0.19);
}

html {
	box-sizing: border-box;
	font-size: 14px;
	@include breakpoint($medium) { font-size: 16px; }
	@include breakpoint($large) { font-size: 18px; }
	@include breakpoint($x-large) { font-size: 20px; }
}

#main {
	background: $background-color !important;
	padding-bottom: 3em;
	@include breakpoint($x-large) { max-width: 1440px; }
}

.page__content li p {
  margin-bottom: 0;
}

div.page__hero--overlay {
	text-align: center;
	margin-bottom: 0;
}

a.site-logo > img, div.author__avatar:hover > img {
	animation: spin-periodically 5000ms infinite ease-in-out;
}

section.page__content {
	a {
		word-break: break-word;
	}
}

p img.block {
	display: block;
	margin-left: auto;
}

.page__footer {
	margin-top: 0;
}
