// Fonts

$serif-base: Baskerville, Georgia, "Liberation Serif", Times, "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, TW-Kai, serif;
$serif: BookerlyLCD, $serif-base;
$serif-display: "Bookerly Display", $serif;

$sans-serif-base: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", "Microsoft YaHei", Arial, sans-serif;
$sans-serif: "Amazon Ember", $sans-serif-base;
$sans-serif-display: "Amazon Ember Display", $sans-serif;
//$sans-serif-pro: GothamSSm, $sans-serif-display;
$sans-serif-pro: $sans-serif;

$monospace-base: Monaco, Consolas, "Lucida Console", monospace;
$monospace: "Amazon Ember Mono", $monospace-base;

// Other customization

$type-size-5: 1em !default; // ~16px
$type-size-6: 0.8333em !default;
$type-size-7: 0.75em !default;
$type-size-8: 0.6825em !default;

$x-large: 1440px;

$background-color: #eff0f1;
