$serif: BookerlyLCD, Baskerville, Georgia, "Liberation Serif", Times, "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, TW-Kai, serif;
$serif-display: "Bookerly Display", $serif;
$sans-serif: "Amazon Ember", -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", "Lucida Grande", "Microsoft YaHei", Arial, sans-serif;
$sans-serif-display: "Amazon Ember Display", $sans-serif;
$monospace: "Amazon Ember Mono", Monaco, Consolas, "Lucida Console", monospace;

$x-large: 1440px;

$background-color: #eff0f1;
