.archive {
	.entries-list {
		.list__item:first-child {
			margin-top: 0;
		}
	}

	.grid__item {
		@include breakpoint($small) {
			&:nth-child(2n + 1) {
				clear: none;
			}
		}

		@include breakpoint($medium) {
			width: span(4 of 12);

			&:nth-child(3n + 1) {
				clear: both;
				margin-left: 0;
			}

			&:nth-child(3n + 2) {
				clear: none;
				margin-left: gutter(1 of 12);
			}

			&:nth-child(3n + 3) {
				clear: none;
				margin-left: gutter(1 of 12);
			}
		}

		.archive__item-teaser {
			@include breakpoint($small) {
				height: 200px;

				img {
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
			}

			@include breakpoint($medium) {
				max-height: 160px;
				height: 160px;
			}

		}

		p.archive__item-excerpt {
			display: inline-block;
			word-break: break-word;
			line-height: 1.5em;
		}
	}
}
