body.layout--home {
	h3.archive__subtitle {
		display: none;
	}

	div.archive {
		div.list__item {
			margin-top: 2.5em;

			// Note: H2 itself has 1.25em
			h2.archive__item-title {
				margin-top: 0.3em;
				padding-bottom: 0.2em;
				border-bottom: 1px solid #cecfd1;

				a {
					text-decoration: none;
				}
			}
		}

		h3.archive__subtitle + div.list__item {
			margin-top: 0;
		}
	}
}
