body.landing {
	& {
		h1.page__title {
			transition: opacity 0.3s ease-in-out 0.3s, transform 0.3s ease-in-out 0.3s;
			opacity: 0;
			transform: translateY(1rem);
		}

		img.avatar {
			transition: opacity 0.5s ease-in-out 0;
			opacity: 0;
		}

		p.page__lead {
			transition: opacity 0.3s ease-in-out 0.6s, transform 0.3s ease-in-out 0.6s;
			opacity: 0;
			transform: translateY(1rem);
		}

		div.page__hero--overlay a.btn {
			transition: opacity 0.3s ease-in-out 0.9s,
			            transform 0.3s ease-in-out 0.9s,
									background-color 0.2s ease-in-out;
			opacity: 0;
			transform: translateY(1rem);
		}
	}

	&.loaded {
		h1.page__title, p.page__lead {
			opacity: 1;
			transform: none;
		}

		img.avatar {
			opacity: 1;
		}

		div.page__hero--overlay a.btn {
			opacity: 1;
			transform: none;
		}
	}
}
