.main-content {
	word-wrap: break-word !important;
	overflow-wrap: break-word !important;
	background-color: rgba(255, 255, 255, 0.95);

	:first-child {
		margin-top: 0;
	}

	@include large {
		max-width: 64rem;
		padding: 3rem 6rem;
		font-size: 1.1rem;
		margin: 0 auto 3rem;
		border-radius: 4rem;
	}

	@include medium {
		padding: 3rem 4rem;
		font-size: 1rem;
	}

	@include small {
		padding: 2rem 1rem;
		font-size: 0.9rem;
	}

	img {
		max-width: 100%;
		vertical-align: middle;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 1.8rem;
		margin-bottom: 0.8rem;
		font-weight: normal;
		color: $section-headings-color;

		code {
			display: inherit;
			font-size: inherit;
			font-weight: inherit;
			color: inherit;
			background-color: inherit;
			margin: inherit;
			padding: inherit;
			border: inherit;
			word-wrap: inherit;
			font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
		}
	}

	.description-list {
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0.3rem;
		}

		li {
			margin-bottom: 1rem;
		}
	}

	p {
		margin-bottom: 0.8em;
	}

	code {
		padding: 2px 4px;
		//font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
		font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace, serif;
		font-size: 0.95em; // 0.9rem
		color: $code-text-color;
		background-color: $code-bg-color;
		border-radius: 0.3rem;
	}

	pre:not(.highlight) {
		overflow: auto;
		padding: 0.8rem;
		margin-top: 0;
		margin-bottom: 1rem;
		line-height: 1.45;
		//font-size: 0.95em;
		font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
		color: $code-text-color;
		word-wrap: normal;
		background-color: $code-bg-color;
		border: solid 1px $border-color;
		border-radius: 0.5rem;
		-webkit-overflow-scrolling: touch;

		> code {
			padding: 0;
			margin: 0;
			font-size: inherit; // 0.9rem
			color: $code-text-color;
			word-break: normal;
			white-space: pre;
			background: transparent;
			border: 0;
		}
	}

	.highlight {
		margin-bottom: 1rem;

		pre {
			margin-bottom: 0;
			word-break: normal;
		}
	}

	pre.highlight {
		white-space: normal;
	}

	pre code,
	pre tt {
		display: inline;
		max-width: initial;
		padding: 0;
		margin: 0;
		overflow: initial;
		line-height: inherit;
		word-wrap: normal;
		background-color: transparent;
		border: 0;

		&:before,
		&:after {
			content: normal;
		}
	}

	ul,
	ol {
		margin-top: 0;

		p {
			margin-top: 0.1em;
			margin-bottom: 0.1em;
		}
	}

	blockquote {
		padding: 0 1em;
		margin-left: 0;
		color: $blockquote-text-color;
		border-left: 0.3rem solid $border-color;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	table {
		display: block;
		width: 100%;
		overflow: auto;
		word-break: normal;
		word-break: keep-all; // For Firefox to horizontally scroll wider tables.
		-webkit-overflow-scrolling: touch;

		th {
			font-weight: bold;
		}

		th,
		td {
			padding: 0.5rem 1rem;
			border: 1px solid $table-border-color;
		}

		&.rouge-table {
			border-spacing: 0;

			@include small {
				max-height: 20rem;
			}

			@include medium {
				max-height: 25rem;
			}

			@include large {
				max-height: 30rem;
			}
		}
	}

	dl {
		padding: 0;

		dt {
			padding: 0;
			margin-top: 1rem;
			font-size: 1rem;
			font-weight: bold;
		}

		dd {
			padding: 0;
			margin-bottom: 1rem;
		}
	}

	hr {
		height: 2px;
		padding: 0;
		margin: 1rem 0;
		background-color: $hr-border-color;
		border: 0;
	}

	kbd {
		background-color: #fafbfc;
		border: 1px solid #c6cbd1;
		border-bottom-color: #959da5;
		border-radius: 3px;
		box-shadow: inset 0 -1px 0 #959da5;
		color: #444d56;
		display: inline-block;
		font-size: 11px;
		line-height: 10px;
		padding: 3px 5px;
		vertical-align: middle;
	}

	.highlight table {
		th, td {
			padding: 0;
			border: none;
		}
	}

	td.rouge-gutter {
		pre {
			padding: 0.8rem 0.4rem;

			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0;
			text-align: right;
			color: #AADEBF;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
	}

	td.rouge-code {
		width: 100%;

		pre {
			padding-left: 0.4rem;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-left-width: 0.5px;
		}
	}
}
