.main-content {
	word-wrap: break-word;

	:first-child {
		margin-top: 0;
	}

	@include large {
		max-width: 64rem;
		padding: 3rem 6rem;
		margin: 0 auto;
		font-size: 1.1rem;
	}

	@include medium {
		padding: 3rem 4rem;
		font-size: 1rem;
	}

	@include small {
		padding: 2rem 1rem;
		font-size: 0.9rem;
	}

	img {
		max-width: 100%;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-top: 1.8rem;
		margin-bottom: 0.8rem;
		font-weight: normal;
		color: $section-headings-color;

		code {
			display: inherit;
			font-size: inherit;
			font-weight: inherit;
			color: inherit;
			background-color: inherit;
			margin: inherit;
			padding: inherit;
			border: inherit;
			word-wrap: inherit;
			font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
		}
	}

	.description-list {
		h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0.3rem;
		}

		li {
			margin-bottom: 1rem;
		}
	}

	p {
		margin-bottom: 0.8em;
	}

	code {
		padding: 2px 4px;
		//font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
		font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace, serif;
		font-size: 0.95em; // 0.9rem
		color: $code-text-color;
		background-color: $code-bg-color;
		border-radius: 0.3rem;
	}

	pre {
		padding: 0.8rem;
		margin-top: 0;
		margin-bottom: 1rem;
		font: 0.95em Consolas, "Liberation Mono", Menlo, Courier, monospace;
		color: $code-text-color;
		word-wrap: normal;
		background-color: $code-bg-color;
		border: solid 1px $border-color;
		border-radius: 0.3rem;

		> code {
			padding: 0;
			margin: 0;
			font-size: inherit; // 0.9rem
			color: $code-text-color;
			word-break: normal;
			white-space: pre;
			background: transparent;
			border: 0;
		}
	}

	.highlight {
		margin-bottom: 1rem;

		pre {
			margin-bottom: 0;
			word-break: normal;
		}
	}

	.highlight pre, pre {
		padding: 0.8rem;
		overflow: auto;
		font-size: 0.95em; // 0.9rem
		line-height: 1.45;
		border-radius: 0.3rem;
		-webkit-overflow-scrolling: touch;
	}

	pre code,
	pre tt {
		display: inline;
		max-width: initial;
		padding: 0;
		margin: 0;
		overflow: initial;
		line-height: inherit;
		word-wrap: normal;
		background-color: transparent;
		border: 0;

		&:before,
		&:after {
			content: normal;
		}
	}

	ul,
	ol {
		margin-top: 0;

		p {
			margin-top: 0.1em;
			margin-bottom: 0.1em;
		}
	}

	blockquote {
		padding: 0 1em;
		margin-left: 0;
		color: $blockquote-text-color;
		border-left: 0.3rem solid $border-color;

		> :first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}

	table {
		display: block;
		width: 100%;
		overflow: auto;
		word-break: normal;
		word-break: keep-all; // For Firefox to horizontally scroll wider tables.
		-webkit-overflow-scrolling: touch;

		th {
			font-weight: bold;
		}

		th,
		td {
			padding: 0.5rem 1rem;
			border: 1px solid $table-border-color;
		}
	}

	dl {
		padding: 0;

		dt {
			padding: 0;
			margin-top: 1rem;
			font-size: 1rem;
			font-weight: bold;
		}

		dd {
			padding: 0;
			margin-bottom: 1rem;
		}
	}

	hr {
		height: 2px;
		padding: 0;
		margin: 1rem 0;
		background-color: $hr-border-color;
		border: 0;
	}
}
