div.masthead {
  border-bottom: none;
  background: url("/image/header/thin/whimsical.png") center/cover no-repeat;
  //background: #0078d4;

  nav#site-nav {
    background: transparent;

    a.site-logo, a.site-title {
      @include noselect;
    }
  }

  .greedy-nav > a, .visible-links a, .search__toggle {
    color: white !important;
  }

  .greedy-nav {
    .visible-links a:before {
      background: white;
    }

    .hidden-links {
      background-color: #006e9c;

      &:after {
        border-color: #006e9c transparent;
      }

      a {
        color: white;
      }
    }

    .navicon {
      &:before, &, &:after {
        background-color: white;
      }
    }
  }
}
