@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

@mixin cute-font {
  font-family: 'Baloo 2', $sans-serif !important;
}

.cute-font {
  @include cute-font;
}

@mixin pro-font {
  font-family: $sans-serif-pro !important;
}

.pro-font {
  @include pro-font;
}
