@import "normalize";
@import "variables";
@import "responsive";
@import "main-content";

nav {
	overflow-x: auto;
	overflow-y: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	height: 2rem;
	border-bottom-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background-color: rgba(224, 255, 240, 0.95);

	div.nav-bg {
		//background-color: rgba(224, 255, 240, 0.95);
		//background-image: linear-gradient(180deg, #FFF, #CCC);
		//background-position: center;
		//background-repeat: no-repeat;
		//background-size: cover;
		//filter: blur(4px);
		//-webkit-filter: blur(8px);
		//height: 100%;
		height: 2rem;
		z-index: -1;
	}

	.nav-content {
		min-width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;
		display: flex;
		justify-content: space-between;
		//padding: 3px;
	}

	.nav-left {
		float: left;
		display: flex;
		z-index: 4;
	}

	.nav-right {
		float: right;
		display: flex;
		z-index: 3;
	}

	a {
		color: $body-text-color;
		transition: color 0.3s linear;

		&:hover {
			color: #000;
			text-decoration: none;
		}
	}

	.nav-item {
		display: inline-block;
		padding: 0.25rem 0.7rem;
		white-space: nowrap;

		transition: background 0.3s ease-in-out;

		&:hover {
			background-color: rgba(64, 255, 192, 0.5);
		}

		&.home {
			//background-color: rgba(64, 255, 192, 0.5);
			font-weight: bold;
		}

		&.verbose {
			@include small {
				display: none;
			}
		}
	}
}
