.page-header {
	color: $header-heading-color;
	text-align: center;
	background: transparent;

	@include large {
		padding: 4rem 5rem 3rem;
	}

	@include medium {
		padding: 3rem 3rem 2.5rem;
	}

	@include small {
		padding: 2rem 1rem 1.5rem;
	}

	&.home {
		@include large {
			padding: 6rem 5rem 3rem;
		}

		@include medium {
			padding: 4rem 3rem 2.5rem;
		}

		@include small {
			padding: 3rem 1rem 2rem;
		}
	}
}

.page-header-nav {
	@include large {
		margin-top: -2rem;
		height: 2rem;
	}

	@include medium {
		margin-top: -1.8rem;
		height: 1.8rem;
	}

	@include small {
		margin-top: -1.5rem;
		height: 1.5rem;
	}
}

.project-name {
	margin-top: 0;
	margin-bottom: 0.1rem;

	@include large {
		font-size: 3.25rem;
	}

	@include medium {
		font-size: 2.25rem;
	}

	@include small {
		font-size: 1.75rem;
	}
}

.project-tagline {
	margin-bottom: 2rem;
	font-weight: normal;
	opacity: 0.7;

	@include large {
		font-size: 1.25rem;
	}

	@include medium {
		font-size: 1.15rem;
	}

	@include small {
		font-size: 1rem;
	}
}

.project-date {
	margin-bottom: 0rem;
	font-weight: normal;
	opacity: 0.7;
	//font-style: italic;

	@include large {
		font-size: 1.0rem;
	}

	@include medium {
		font-size: 0.95rem;
	}

	@include small {
		font-size: 0.75rem;
	}
}
