.page-header {
	color: $header-heading-color;
	text-align: center;
	background: transparent;

	@include large {
		padding: 6rem 5rem 3rem;
	}

	@include medium {
		padding: 4.5rem 3rem 2.5rem;
	}

	@include small {
		padding: 3rem 1rem 1.5rem;

		background-image: url('https://ibug.github.io/image/bg.jpg'), linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center;
	}

	&.home {
		@include large {
			padding: 8rem 5rem 3rem;
		}

		@include medium {
			padding: 5.5rem 3rem 2.5rem;
		}

		@include small {
			padding: 4rem 1rem 2rem;
		}
	}
}

.project-name {
	margin-top: 0;
	margin-bottom: 0.1rem;

	@include large {
		font-size: 3.25rem;
	}

	@include medium {
		font-size: 2.25rem;
	}

	@include small {
		font-size: 1.75rem;
	}
}

.project-tagline {
	margin-bottom: 2rem;
	font-weight: normal;
	opacity: 0.7;

	@include large {
		font-size: 1.25rem;
	}

	@include medium {
		font-size: 1.15rem;
	}

	@include small {
		font-size: 1rem;
	}
}

.project-date {
	margin-bottom: 0rem;
	font-weight: normal;
	opacity: 0.7;
	//font-style: italic;

	@include large {
		font-size: 1.0rem;
	}

	@include medium {
		font-size: 0.95rem;
	}

	@include small {
		font-size: 0.75rem;
	}
}
