@import 'variables';

.pagination-trail {
	text-align: center;
}

.pagination {
	font-size: 0.9em;
	display: inline-block;
	padding-left: 0;
	margin: 0 auto;
	border-radius: 0;

	>li:first-child {
		a, span {
			margin-left: 0;
			border-top-left-radius: 6px;
			border-bottom-left-radius: 6px;
		}
	}

	>li:last-child {
		a, span {
			border-top-right-radius: 6px;
			border-bottom-right-radius: 6px;
		}
	}


	>li {
		display: inline;

		a, span {
			position: relative;
			float: left;
			padding: 6px 12px;
			margin-left: -1px;
			line-height: 1.4;
			color: #33b77a;
			text-decoration: none;
			background-color: #FFF;
			border: 1px solid $border-color;

			&:focus, &:hover {
				z-index: 2;
				color: #237C52;
				background-color: #EEE;
				border-color: $border-color;
				cursor: pointer;
			}

			&.active {
				font-weight: bold;
				color: #FFF;
				background-color: $header-bg-color-dark;
				border-color: $header-bg-color-dark;

				&:focus, &:hover {
					cursor: default;
				}
			}

			&.disabled {
				color: #AAA;
				background-color: #F3F7F3;
				cursor: not-allowed;

				&:focus, &:hover {
					color: #AAA;
					background-color: #F3F7F3;
				}
			}
		}
	}
}

