---
title: Blog index
description: All of iBug's blogs
layout: default
pagination:
  enabled: true
buttons:
  -
    url: /
    text: Return to home
---

<style type="text/css">
.main-content h1 {
	margin-bottom: 0;
}
.author {
	margin-top: 0.2em;
}
</style>

{% for post in paginator.posts %}
  <h1><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h1>
  <p class="author">
	  <span class="post-meta">
			<span class="post-meta-date">{{ post.date | date: site.date_format }}</span>
			<span class="post-meta-tags">
				{% for tag in post.tags %}
				<a href="{{ site.baseurl }}/tags/{{ tag }}" class="tag post-meta-tag">{{ tag }}</a>
				{% endfor %}
			</span>
		</span>
  </p>
  <div class="content">
    {{ post.description | default: post.excerpt | markdownify }}
  </div>
{% endfor %}

<!-- Paginate V2 trail -->

{% if paginator.page_trail %}
<div class="pagination-trail">
	<ul class="pagination">
		<li>
			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">&laquo; Previous</a>
			{% else %}
			<span class="disabled">&laquo; Previous</span>
			{% endif %}
		</li>
		{% for trail in paginator.page_trail %}
		<li>
			{% if page.url == trail.path %}
			<span title="{{ trail.title }}" class="active">{{ trail.num }}</span>
			{% else %}
			<a href="{{ trail.path | prepend: site.baseurl }}" title="{{ trail.title }}"}>{{ trail.num }}</a>
			{% endif %}
		</li>
		{% endfor %}
		<li>
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next &raquo;</a>
			{% else %}
			<span class="disabled">Next &raquo;</span>
			{% endif %}
		</li>
	</ul>
</div>
{% endif %}
