<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<!-- _layout: default -->

		{% include common-head.html %}
		{% include common-scripts-head.html %}
	</head>
	<body>
		{% include nav.html %}
		<section class="page-header">
			{% if page.show_home %}
			{% endif %}
			<h1 class="project-name">{{ page.title | default: site.title }}</h1>
			<h2 class="project-tagline">{{ page.tagline | default: page.description | default: site.description }}</h2>
			{% for button in page.buttons %}
			<a href="{{ button.url }}" class="btn">{{ button.text }}</a>
			{% endfor %}
		</section>

		<section class="main-content">
			{{ content }}

			{% unless page.no_footer %}
			<footer class="site-footer">
				<span class="site-footer-credits">
					{% if page.show_home %}
					<p style="text-align: center;"><a href="{{ site.url }}{{ site.baseurl }}"><b>Return to home</b></a></p>
					{% endif %}
					<p>
					<a href="https://github.com/iBug">{% include gh-icon.html size="16px" %} iBug</a>
					<a href="https://stackoverflow.com/u/5958455">{% include so-icon.html size="16px" %} iBug</a>
					</p>
				</span>
			</footer>
			{% endunless %}
		</section>

		{% include common-scripts-body.html %}
		{% include google_analytics.html %}
	</body>
</html>
