<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<!-- _layout: post -->

		{% include common-head.html %}
		<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
		{% include common-scripts-head.html %}
	</head>
	<body>
		{% include nav.html %}
		<section class="page-header">
			<h1 class="project-name">{{ page.title | default: site.title }}</h1>
			<h2 class="project-tagline">{{ page.tagline | default: page.description | default: site.default.post_tagline | default: site.description }}</h2>
			{% if page.show_view %}
				<a href="{{ page.view_url }}" class="btn">View on {{ page.view_name }}</a>
			{% endif %}
			{% if page.show_download %}
				<a href="{{ page.download_url }}" class="btn">Download</a>
			{% endif %}
			{% if page.other_version %}
			<a href="{{ page.other_version_url }}" class="btn">{{ page.other_version }} version</a>
			{% endif %}
			<h3 class="project-date"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: site.date_format }}</time> &bull; {{ page.author | default: site.author }}</h3>
		</section>

		<section class="main-content blog-post">
			{% if page.toc %}
			<div id="side-nav" class="side-nav">
				{{ content | toc }}
			</div>
			{% endif %}
			<article>
				{{ content }}
			</article>

			{% if page.tags.size > 0 %}
			<span class="post-tags">
				<b>Tag{% if page.tags.size > 1 %}s{% endif %}: </b>
				{% for tag in page.tags %}
				<a href="{{ "/tags/" | append: tag | relative_url }}" class="tag">{{ tag }}</a>  
				{% endfor %}
			</span>
			{% endif %}
			<footer class="site-footer">
				<span class="site-footer-credits">
					<div>
						<span style="float:left;padding-left:10px;height:0px;">
							{% if page.previous %}
							<a href="{{ page.previous.url }}">&laquo; Previous</a>
							{% else %}
							&laquo; Previous
							{% endif %}
						</span>
						<span style="float:right;padding-right:10px;height:0px;">
							{% if page.next %}
							<a href="{{ page.next.url }}">Next &raquo;</a>
							{% else %}
							Next &raquo;
							{% endif %}
						</span>
					</div>
					<div align="center">
						<p><a href="{{ site.index_url }}"><b>Return to index</b></a></p>
						{% for link in page.redirect_from %}
							{% assign linkstart = link | slice: 0, 3 %}
							{% if linkstart == '/p/' %}
								{% assign page_link = link %}
								{% break %}
							{% endif %}
						{% endfor %}
						{% if page_link %}
						<p>Link to this article: <a href="{{ site.url }}{{ page_link }}">{{ site.url }}{{ page_link }}</a></p>
						{% else %}
						<p>Link to this article: <a href="{{ page.url | relative_url }}">{{ page.url }}</a></p>
						{% endif %}
						<p><small>Content licensed under the <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0 license</a>. Attribution required.</small></p>
					</div>
				</span>
			</footer>
		</section>

		{% include common-scripts-body.html %}
		{% include google_analytics.html %}
	</body>
</html>
