---
layout: none
---

{%- assign reveal_version = page.reveal_version | default: "4" -%}
{%- assign reveal_url = "https://cdn.jsdelivr.net/npm/reveal.js@" | append: reveal_version -%}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ page.title | default: "Presentation" }} - {{ site.title }}</title>
  <meta charset="utf-8">
  {% if page.noindex or page.hidden %}
    <meta name="robots" content="noindex">
  {% endif %}
  <link rel="stylesheet" href="{{ reveal_url }}/dist/reveal.css">
  <link rel="stylesheet" href="{{ reveal_url }}/dist/theme/{{ page.theme | default: "white" }}.css">
  <link rel="stylesheet" href="{{ reveal_url }}/plugin/highlight/monokai.css" />
  <link rel="stylesheet" href="https://static.ibugone.com/webfonts/amazon/stylesheet.css">
  <link rel="stylesheet" href="https://static.ibugone.com/fontawesome/6/css/all.min.css" media="none"
    onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="{{ "/assets/css/reveal.css" | relative_url | append: "?v=" | append: site.git.last_commit.short_sha }}">
</head>

<body>
  <div class="reveal">
    <div class="slides">
      {{ page.content }}
    </div>
  </div>
  <script src="{{ reveal_url }}/dist/reveal.js"></script>
  <script src="{{ reveal_url }}/plugin/notes/notes.js"></script>
  <script src="{{ reveal_url }}/plugin/search/search.js"></script>
  <script src="{{ reveal_url }}/plugin/zoom/zoom.js"></script>
  <script src="{{ reveal_url }}/plugin/highlight/highlight.js"></script>
  <script>
    Reveal.initialize({
      width: "100%", height: "100%",
      slideNumber: true,
      history: true,
      plugins: [RevealHighlight, RevealNotes, RevealSearch, RevealZoom],
    });
  </script>
</body>

</html>
