<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<!-- _layout: default -->

		{% include common-head.html %}
		{% include common-scripts-head.html %}
	</head>
	<body>
		{% include nav.html %}
		<section class="page-header">
			<h1 class="project-name">Tag: {{ page.tag }}</h1>
			<h2 class="project-tagline">Posts tagged with {{ page.tag }}</h2>
		</section>

		<section class="main-content">
			<div id="tag-cloud" class="tag-cloud">
				{{ site | tag_cloud }}
			</div>

			<h1 align="center">Tagged posts</h1>
			<ul class="description-list">
				{% for post in page.posts %}
				<li>
					<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
					<p class="post-meta">
						<span class="post-meta-date">{{ post.date | date: site.date_format }}</span>
						<span class="post-meta-tags">
							{% for tag in post.tags %} <a href="/tags/{{ tag }}" class="tag post-meta-tag">{{ tag }}</a>{% endfor %}
						</span>
					</p>
				</li>
				{% endfor %}
			</ul>

			<footer class="site-footer">
				<span class="site-footer-credits">
					<p>
						<a href="https://github.com/iBug">{% include gh-icon.html size="16px" %} iBug</a>
						<a href="https://stackoverflow.com/u/5958455">{% include so-icon.html size="16px" %} iBug</a>
					</p>
				</span>
			</footer>
		</section>

		{% include common-scripts-body.html %}
		{% include google_analytics.html %}
	</body>
</html>
