$baseurl-iBugStaticWebfonts: "https://static.ibugone.com/webfonts";
//$baseurl-iBugStaticWebfonts: "https://cdn.jsdelivr.net/gh/iBug-web/static/webfonts";

@mixin define-font-face($family, $url, $weight: unset, $style: unset, $embed: false) {
  @font-face {
    font-family: $family;
    @if $weight != unset {
      font-weight: $weight;
    }
    @if $style != unset {
      font-style: $style;
    }
    src: $url;

    @content;
  }
}
