// Gotham font
$baseurl-gotham: "#{$baseurl-iBugStaticWebfonts}/gothamssm";

@mixin define-GothamSSm($variant, $font-weight, $font-style) {
  @font-face {
    $basename: "GothamSSm";
    @if $variant != unset {
      $basename: "GothamSSm-#{$variant}";
    }
    $basepath: "#{$baseurl-gotham}/#{$basename}";

    font-family: GothamSSm;
    src: url("#{$basepath}.eot");
    src: url("#{$basepath}.woff2") format("woff2"),
        url("#{$basepath}.woff") format("woff"),
        url("#{$basepath}.ttf") format("truetype"),
        url("#{$basepath}.eot?#iefix") format("embedded-opentype");
    font-weight: $font-weight;
    font-style: $font-style;
  }
}

@include define-GothamSSm("XLight", 100, normal);
@include define-GothamSSm("XLightItalic", 100, italic);
@include define-GothamSSm("Light", 300, normal);
@include define-GothamSSm("LightItalic", 300, italic);
@include define-GothamSSm("Book", 400, normal);
@include define-GothamSSm("BookItalic", 400, italic);
@include define-GothamSSm("Medium", 500, normal);
@include define-GothamSSm("MediumItalic", 500, italic);
@include define-GothamSSm("Bold", 700, normal);
@include define-GothamSSm("BoldItalic", 700, italic);
@include define-GothamSSm("Black", 900, normal);
@include define-GothamSSm("BlackItalic", 900, italic);
