* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: Amazon Ember, sans-serif;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  color: #333;
  background-color: #f0f0f0;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.inner-container {
  text-align: center;
}

.container {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.title {
  display: inline-block;
  text-align: left;
  font-size: 3rem;
}

.info {
  margin-top: 2rem;
  margin-bottom: 1.3333rem;
}

.list {
  font-size: 0.8rem;
  font-weight: 300;
}

.links {
  font-size: 0.8rem;
  font-weight: normal;
}

.separator {
  margin: 0 0.4rem;
}

.separator::before {
  content: "|";
}

a {
  border-bottom: 1px dashed #aaa;
}

a,
a:visited {
  color: #333;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #666;
  text-decoration: none;
}

.title-box {
  width: 12.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.pre-title-box {
  margin-bottom: 0.3333rem;
  opacity: 0.5;
  animation-name: slide-to-right;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.9, 0, 1, 1);
  animation-direction: reverse;
}

.main-title-box {
  animation-name: slide-to-left;
  animation-duration: 7s;
  animation-timing-function: cubic-bezier(0.9, 0, 1, 1);
  animation-direction: reverse;
}

.pre-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.main-title {
  font-size: 3rem;
  font-weight: bold;
}

@keyframes slide-to-right {
  from {
    margin-left: 0;
    opacity: 0.5;
  }
  to {
    margin-left: -12%;
    opacity: 0.1;
  }
}

@keyframes slide-to-left {
  from {
    margin-left: 0;
    opacity: 1;
  }
  to {
    margin-left: 12%;
    opacity: 0.3;
  }
}
