name: build

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      SSH_KEY_E: ${{ secrets.SSH_KEY_E }}
      LSI: 'true'
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.7
    - name: Setup cache for Bundler
      id: cache
      uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-bundler-2.7-${{ hashFiles('Gemfile') }}
        restore-keys: |
          ${{ runner.os }}-bundler-2.7-
    - name: Install dependencies
      run: |
        sudo apt-get -y install libgsl-dev
        bundle install --path=vendor/bundle
        bundle clean
    - name: Prepare build
      run: bash script/prepare.sh
    - name: Build site
      run: bundle exec jekyll build --trace --profile --lsi
      env:
        JEKYLL_ENV: production
        JEKYLL_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Post-build patches
      run: bash script/patch.sh
    - name: Deploy to GitHub
      run: 'bash script/deploy-actions.sh &'

    - uses: actions/setup-node@v1
    - name: Setup cache for Node.js
      id: cache-npm
      uses: actions/cache@v1
      with:
        path: node_modules
        key: ${{ runner.os }}-npm-20200615
    - name: Install Netlify CLI
      if: steps.cache-npm.outputs.cache-hit != 'true'
      run: npm install netlify-cli
    - name: Deploy to Netlify
      env:
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_ACCESS_TOKEN }}
      run: |
        #git clone --depth=1 --single-branch https://github.com/iBug/image.git _site/image/
        #rm -rf _site/image/.git
        cat _data/netlify.txt > _site/_redirects 2>/dev/null || true
        npx netlify deploy --prod
